on: [push, workflow_dispatch]

name: Code Coverage

jobs:
  grcov:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout sources
        uses: actions/checkout@v2

      - name: Install toolchain
        uses: actions-rs/toolchain@v1
        with:
          profile: minimal
          toolchain: stable
          override: true

      - name: Execute tests
        uses: actions-rs/cargo@v1
        with:
          command: test
          args: --tests
        env:
          CARGO_INCREMENTAL: 0
          # Hyphens don't work? https://github.com/actions-rs/grcov/issues/51
          LLVM_PROFILE_FILE: "target/coverage/cargo_test_%p_%m.profraw"
          RUSTFLAGS: "-Cinstrument-coverage"

      - name: Run grcov
        uses: actions-rs/grcov@v0.1

      - name: Coveralls upload
        uses: coverallsapp/github-action@master
        with:
          github-token: ${{ secrets.GITHUB_TOKEN }}
          path-to-lcov: ${{ steps.coverage.outputs.report }}
